@page "/"
@inject NavigationManager navigation

<PageTitle>Index</PageTitle>

<MudText Typo="Typo.h3" GutterBottom="true">Hello, world!</MudText>
<MudText Class="mb-8">Welcome to your new app, powered by MudBlazor!</MudText>

<button type="button" class="btn btn-primary" onclick="@link">Primary</button>


@code{
    private void link()
    {
        navigation.NavigateTo("/createfornecedor");
    }
}